.app {
    min-width: 100vw;
    min-height: 100vh;
    color: #222222;
    background-color: #f1f2f4;
}

// const colorMap = {
//     '#F1F2F4': '#F1F2F4',
//     '#222222': '#222222',
//     '#B3B3B4': '#B3B3B4',
//     '#5A5453': '#5A5453',
//     '#E89B19': '#E89B19',
// }
